/* font-family: "RobotoRegular"; */
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  background: white;
  font-size: 16px;
  color: black;
  font-family: "GothamProBold", sans-serif;
}
#carousel2 {
  display: none;
}
.bg-bloc_1 {
  width: 100%;
  max-height: 1000px;
  background: url("../img/BG-1.png") no-repeat;
  background-size: cover;
}
/*Header*/
.soc-mob {
  display: none;
}
header .bloc-head {
  width: 34%;
  height: 80px;
  background: #fcd9ac;
  border: 1px solid #a12a57;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  border-radius: 0 60px 60px 0;
}
header .header-con {
  z-index: 2;
}
header .logo {
  right: -1px;
  position: absolute;
  top: -1px;
  width: 250px;
  height: 80px;
  background: #fcd9ac;
  border: 1px solid #a12a57;
  border-radius: 0 60px 60px 0;
  z-index: 99;
  margin-top: 51px;
}
header .logo img {
  padding: 10px 0 0 10px;
}
header .logo .logo-text {
  position: relative;
  display: inline-block;
  color: #9e2b5a;
}
header .logo .logo-span {
  position: absolute;
  top: 44px;
  left: 81px;
  font-size: 9px;
  text-transform: uppercase;
  color: black;
  display: block;
}
header .number-text {
  margin-top: 48px;
  font-size: 18px;
}
.coll {
  position: relative;
  font-size: 18px;
  background: #fee4b7 url("../img/icon-tel-menu.png") no-repeat 8% center;
  padding: 5px 40px;
  color: black;
  border-radius: 60px;
  border-bottom: 2px solid #9e2b5a;
  outline: none;
}
.coll::before {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  content: '';
  border-style: solid;
  transition-property: top;
  left: 12px;
  top: -9px;
  border-width: 0 8px 10px 1px;
  border-color: transparent transparent #fee4b7 transparent;
}
.coll:hover {
  color: #9e2b5a;
  outline: none;
  border-bottom: 2px solid #fee4b7;
}
.coll:hover::before {
  display: none;
}
.coll:active,
.coll:focus {
  outline: none;
}
.soc-menu {
  list-style: none;
  margin-top: 70px;
}
.soc-menu li {
  display: inline-block;
  padding-right: 15px;
}
.soc-menu li:nth-child(6) {
  padding-right: 30px;
}
.soc-menu li:nth-child(7),
.soc-menu li:nth-child(8) {
  padding: 6px;
}
.soc-menu li a {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
}
.icon a {
  outline: none;
}
.icon a:hover {
  color: #9e2b5a;
  transition: .3s;
}
.icon i {
  font-size: 26px;
}
.text-menu {
  padding-left: 25px;
}
.lang {
  border-radius: 60px;
  font-size: 18px;
  background: #fee4b7;
  border-bottom: 2px solid #9e2b5a;
}
.active {
  border: none;
}
/*Calk*/
.wrap-calc {
  position: relative;
  margin: 500px auto 45px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 9px #999;
}
.cal-bloc-wrap {
  padding: 0;
  border-right: 2px solid #e3e3e3;
  height: 505px;
}
.wrap-calc-last {
  border: none;
}
.bt-express,
.bt-odna-k {
  display: block;
  text-transform: uppercase;
  margin: 20px auto 25px;
  width: 210px;
  height: 30px;
  border-radius: 60px;
  background: #fee4b7 ;
  border: none;
  border-bottom: 2px solid #9e2b5a;
}
.bt-odna-k {
  margin: 35px auto 25px;
}
.img-express {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 95px;
}
.hint--bottom {
  position: relative;
  margin: 0;
  right: -212px;
  bottom: 15px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
}
.exp {
  display: inline-block;
}
.img-odna-k {
  display: block;
  margin: 120px auto 0;
}
.qvest-2 {
  bottom: 6px;
}
.qvest-3 {
  bottom: 12px;
}
.pole-text {
  position: relative;
  width: 240px;
  height: 60px;
  background: #e9e9e9;
  color: black;
  font-size: 24px;
  border-radius: 60px;
  margin: 222px auto;
}
.pole-text #pole-text {
  position: absolute;
  top: 14px;
  text-align: center;
  left: 66px;
}
.raschet {
  display: block;
  margin: 0 auto 150px;
  width: 250px;
  height: 60px;
  text-transform: uppercase;
  border-radius: 60px;
  background: #fee4b7 ;
  border: none;
  border-bottom: 2px solid #9e2b5a;
}
.raschet:hover {
  border-bottom: 2px solid #fee4b7;
  transition: .3s;
}
.activeCalk {
  border-bottom: 2px solid #fee4b7;
  color: #9e2b5a;
}
/*/Header*/
/*Section block 2*/
.bg-bloc2 {
  width: 100%;
  height: auto;
  margin-top: 650px;
  background: url("../img/BG-2.jpg") no-repeat center;
  background-size: cover;
}
#carousel,
#carousel2 {
  width: 900px;
  height: 600px;
  position: relative;
  top: -165px;
  margin: 0 auto;
}
#carousel img,
#carousel2 img {
  width: 570px;
  height: 600px;
  overflow: hidden;
  /* hide images until carousel prepares them */
  cursor: pointer;
  /* not needed if you wrap carousel items in links */
}
.buttons {
  text-align: center;
}
.buttons button {
  position: relative;
  top: -150px;
  display: inline-block;
  margin-right: 70px;
  border: none;
  width: 210px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  background: #fee3b4;
  border-radius: 60px;
}
.buttons button:last-child {
  margin-right: 0;
}
.buttons button:hover {
  box-shadow: none;
  border-bottom: 2px solid  #fee3b4;
}
.buttons .expresBtn {
  color: #308e07;
  box-shadow: 0 4px 8px #308e07;
  border-bottom: 2px solid #9e2b5a;
}
.buttons .standartBtn {
  color: #05278a;
  box-shadow: 0 4px 8px #05278a;
  border-bottom: 2px solid #9e2b5a;
}
.buttons .vipBtn {
  color: #e00025;
  box-shadow: 0 4px 8px #e00025;
  border-bottom: 2px solid #9e2b5a;
}
.buttons .poslestroyBtn {
  color: #ff7e00;
  box-shadow: 0 4px 8px #ff7e00;
  border-bottom: 2px solid #9e2b5a;
}
.green,
.green2,
.green3,
.orang,
.orang2,
.orang3,
.red,
.red2,
.red3,
.blue,
.blue2,
.blue3 {
  display: none;
}
.activegr {
  box-shadow: none!important;
  border-bottom: 2px solid  #fee3b4!important;
}
.activegrin {
  display: block;
}
.points span {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  z-index: 9;
  cursor: pointer;
}
.green .point1 {
  color: #308e07;
  top: 460px;
  left: 395px;
}
.green .point1:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green .point2 {
  color: #308e07;
  top: 296px;
  left: 477px;
}
.green .point2:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green .point3 {
  color: #308e07;
  top: 293px;
  left: 366px;
}
.green .point3:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green2 .point1 {
  color: #308e07;
  top: 379px;
  left: 581px;
}
.green2 .point1:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green2 .point2 {
  color: #308e07;
  top: 365px;
  left: 440px;
}
.green2 .point2:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green2 .point3 {
  color: #308e07;
  top: 293px;
  left: 366px;
}
.green2 .point3:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green2 .point4 {
  color: #308e07;
  position: absolute;
  top: 293px;
  left: 555px;
}
.green2 .point4:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green2 .point5 {
  color: #308e07;
  top: 452px;
  left: 445px;
}
.green2 .point5:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green3 .point1 {
  color: #308e07;
  top: 336px;
  left: 435px;
}
.green3 .point1:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green3 .point2 {
  color: #308e07;
  top: 365px;
  left: 440px;
}
.green3 .point2:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green3 .point3 {
  color: #308e07;
  top: 333px;
  left: 388px;
}
.green3 .point3:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green3 .point4 {
  color: #308e07;
  top: 303px;
  left: 280px;
}
.green3 .point4:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green3 .point5 {
  color: #308e07;
  top: 449px;
  left: 396px;
}
.green3 .point5:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green3 .point6 {
  color: #308e07;
  top: 405px;
  left: 314px;
}
.green3 .point6:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.green3 .point7 {
  color: #308e07;
  top: 390px;
  left: 519px;
}
.green3 .point7:hover {
  border-radius: 80px;
  border: 1px solid green;
}
.blue .point1 {
  color: #05278a;
  top: 315px;
  left: 583px;
}
.blue .point1:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue .point2 {
  color: #05278a;
  top: 242px;
  left: 223px;
}
.blue .point2:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue .point3 {
  color: #05278a;
  top: 330px;
  left: 424px;
}
.blue .point3:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue .point4 {
  color: #05278a;
  top: 281px;
  left: 505px;
}
.blue .point4:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue2 .point1 {
  color: #05278a;
  top: 251px;
  left: 405px;
}
.blue2 .point1:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue2 .point2 {
  color: #05278a;
  top: 272px;
  left: 490px;
}
.blue2 .point2:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue2 .point3 {
  color: #05278a;
  top: 293px;
  left: 289px;
}
.blue2 .point3:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue3 .point1 {
  color: #05278a;
  top: 232px;
  left: 435px;
}
.blue3 .point1:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue3 .point2 {
  color: #05278a;
  top: 372px;
  left: 334px;
}
.blue3 .point2:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue3 .point3 {
  color: #05278a;
  top: 380px;
  left: 425px;
}
.blue3 .point3:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue3 .point4 {
  color: #05278a;
  top: 303px;
  left: 280px;
}
.blue3 .point4:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue3 .point5 {
  color: #05278a;
  top: 449px;
  left: 396px;
}
.blue3 .point5:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue3 .point6 {
  color: #05278a;
  top: 405px;
  left: 314px;
}
.blue3 .point6:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.blue3 .point7 {
  color: #05278a;
  top: 390px;
  left: 519px;
}
.blue3 .point7:hover {
  border-radius: 80px;
  border: 1px solid #05278a;
}
.red .point1 {
  color: red;
  top: 134px;
  left: 583px;
}
.red .point1:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red .point2 {
  color: red;
  top: 242px;
  left: 355px;
}
.red .point2:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red .point3 {
  color: red;
  top: 327px;
  left: 356px;
}
.red .point3:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red .point4 {
  color: red;
  top: 225px;
  left: 505px;
}
.red .point4:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red2 .point1 {
  color: red;
  top: 465px;
  left: 405px;
}
.red2 .point1:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red2 .point2 {
  color: red;
  top: 130px;
  left: 490px;
}
.red2 .point2:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red2 .point3 {
  color: red;
  top: 292px;
  left: 485px;
}
.red2 .point3:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red3 .point1 {
  color: red;
  top: 266px;
  left: 377px;
}
.red3 .point1:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red3 .point2 {
  color: red;
  top: 372px;
  left: 395px;
}
.red3 .point2:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red3 .point3 {
  color: red;
  top: 141px;
  left: 297px;
}
.red3 .point3:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red3 .point4 {
  color: red;
  top: 183px;
  left: 368px;
}
.red3 .point4:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red3 .point5 {
  color: red;
  top: 263px;
  left: 464px;
}
.red3 .point5:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.red3 .point6 {
  color: red;
  top: 310px;
  left: 541px;
}
.red3 .point6:hover {
  border-radius: 80px;
  border: 1px solid red;
}
.orang .point1 {
  color: #ff7e00;
  top: 266px;
  left: 377px;
}
.orang .point1:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang .point2 {
  color: #ff7e00;
  top: 372px;
  left: 395px;
}
.orang .point2:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang .point3 {
  color: #ff7e00;
  top: 141px;
  left: 297px;
}
.orang .point3:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang .point4 {
  color: #ff7e00;
  top: 183px;
  left: 368px;
}
.orang .point4:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang .point5 {
  color: #ff7e00;
  top: 263px;
  left: 464px;
}
.orang .point5:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang .point6 {
  color: #ff7e00;
  top: 310px;
  left: 541px;
}
.orang .point6:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang2 .point1 {
  color: #ff7e00;
  top: 266px;
  left: 377px;
}
.orang2 .point1:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang2 .point2 {
  color: #ff7e00;
  top: 372px;
  left: 395px;
}
.orang2 .point2:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang2 .point3 {
  color: #ff7e00;
  top: 141px;
  left: 297px;
}
.orang2 .point3:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang2 .point4 {
  color: #ff7e00;
  top: 183px;
  left: 368px;
}
.orang2 .point4:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang2 .point5 {
  color: #ff7e00;
  top: 263px;
  left: 464px;
}
.orang2 .point5:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang2 .point6 {
  color: #ff7e00;
  top: 310px;
  left: 541px;
}
.orang2 .point6:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang3 .point1 {
  color: #ff7e00;
  top: 266px;
  left: 377px;
}
.orang3 .point1:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang3 .point2 {
  color: #ff7e00;
  top: 372px;
  left: 395px;
}
.orang3 .point2:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang3 .point3 {
  color: #ff7e00;
  top: 141px;
  left: 297px;
}
.orang3 .point3:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang3 .point4 {
  color: #ff7e00;
  top: 183px;
  left: 368px;
}
.orang3 .point4:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang3 .point5 {
  color: #ff7e00;
  top: 263px;
  left: 464px;
}
.orang3 .point5:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
.orang3 .point6 {
  color: #ff7e00;
  top: 310px;
  left: 541px;
}
.orang3 .point6:hover {
  border-radius: 80px;
  border: 1px solid #ff7e00;
}
/*bloc 3*/
.bloc-3 h1 {
  font-size: 60px;
  color: #9e2b5a;
  text-align: center;
  margin-bottom: 0;
}
.slogan-sec2 {
  font-size: 44px;
  text-align: center;
  color: black;
  margin-bottom: 120px;
}
.preim-img {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.wrap-text-pre {
  width: 224px;
  height: 90px;
  background: url("../img/wrap-pre.png") no-repeat center;
  margin-bottom: 45px;
}
.wrap-text-pre .text-preim {
  width: 158px;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding-top: 35px;
}
.wrap-text-pre .text-3,
.wrap-text-pre .text-4 {
  padding-top: 25px!important;
}
.wrap-text-pre .text-6 {
  padding-top: 45px!important;
}
/*/ bloc 3*/
/*bloc 4*/
.bg_bloc-3 {
  width: 100%;
  height: auto;
  background: #f5f6f7 url("../img/BG-22.jpg") no-repeat top;
  background-size: cover;
  margin-top: 0;
}
.bg_bloc-3 h2 {
  font-size: 60px;
  text-align: center;
  padding-top: 170px;
}
.wrap-photo {
  max-width: 350px;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px -2px #999999;
  margin: 0 0 30px 0;
  border-radius: 4px;
  overflow: hidden;
  padding: 15px;
}
.photo-gall {
  width: 320px;
  height: 220px;
  position: relative;
  cursor: pointer;
}
.bg-hover {
  position: absolute;
  background: rgba(0, 0, 0, 0.6) url("../img/hover-gall.png") no-repeat 0 122px;
  width: 320px;
  height: 220px;
  z-index: 9;
  cursor: pointer;
  opacity: 0;
}
.moyka {
  font-size: 18px;
  color: white;
  display: inline-block;
  width: 180px;
  padding-left: 20px;
  text-transform: uppercase;
}
.gall-per {
  font-size: 18px;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 24px;
}
.gall-per i {
  font-size: 22px;
  padding-left: 5px;
}
.gall-per:hover {
  color: white;
}
.wrap-gallery {
  padding-bottom: 145px;
}
/*/bloc 4*/
h3 {
  font-size: 60px;
  text-align: center;
  margin-top: 0;
  padding-bottom: 85px;
}
.slick-slider {
  width: 800px;
  display: block;
  margin: 0 auto;
}
.slick-slide img {
  margin: 0 auto 30px;
  cursor: pointer;
}
.name-photo {
  font-size: 36px;
  text-align: center;
  padding-bottom: 40px;
  color: #9e2b5a;
  margin: 0;
}
.text-slik {
  font-size: 14px;
  text-align: center;
  max-width: 340px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.slick-dots li button {
  width: 45px!important;
  height: 45px!important;
  background: url("../img/dots.png") no-repeat center;
}
.slick-dots li button:active,
.slick-dots li button:focus {
  background: url("../img/slid-active.png") no-repeat -11px 2px;
}
h4 {
  font-size: 60px;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 100px;
  padding-bottom: 85px;
}
.brands {
  text-align: center;
  padding: 30px 0;
}
.brand {
  display: block;
  margin: 0 auto 90px;
  text-align: center;
}
.footer-bg {
  background: url("../img/bg-footer.jpg") no-repeat center;
  width: 100%;
  height: auto;
  background-size: cover;
}
.adres {
  padding-top: 150px;
  list-style: none;
  padding-left: 0;
}
.adres li a {
  outline: none;
  color: black;
}
.adres li a i {
  padding-right: 10px;
}
.adres li a span {
  padding-left: 20px;
}
.perehod {
  color: black;
  outline: none;
  padding-left: 20px;
  padding-top: 35px;
}
.soglas {
  font-size: 14px;
  display: block;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 50px;
  color: black;
  outline: none;
  text-transform: uppercase;
  text-decoration: underline;
}
.soc-foot {
  padding-top: 230px;
  list-style: none;
  outline: none;
}
.soc-foot li {
  display: inline-block;
  padding-left: 20px;
}
.soc-foot li a {
  color: black;
  outline: none;
}
.visa {
  padding-top: 180px;
  text-align: right;
  padding-bottom: 40px;
}
.appfoo {
  padding-top: 40px;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) {
  /*Header*/
  header .bloc-head {
    width: 31%;
  }
  /*/Header*/
}
@media only screen and (max-width: 1560px) {
  .bg-bloc_1 {
    background-size: auto;
    background: url("../img/BG-1.png") no-repeat center top;
  }
  /*Header*/
  header .bloc-head {
    width: 25%;
  }
  /*/Header*/
}
@media only screen and (max-width: 1380px) {
  /*Header*/
  header {
    margin-bottom: 300px;
  }
  .wrap-calc {
    margin: 330px auto 45px;
  }
  /*/Header*/
  /*bloc-2*/
  .bg-bloc2 {
    margin-top: 300px;
    background-size: auto;
    background: url("../img/BG-2.jpg") no-repeat center top;
  }
  .bg_bloc-3 {
    background: #f5f6f7 url("../img/BG-22.jpg") no-repeat center top;
    margin-top: 0;
    background-size: auto;
  }
  h4 {
    margin-bottom: 70px;
  }
  /*/bloc 2*/
}
@media only screen and (max-width: 1200px) {
  /*Header*/
  .soc-menu {
    padding: 0;
  }
  .soc-menu li {
    padding-right: 5px;
  }
  /*/Header*/
  /*Section block 2*/
  .buttons button {
    margin-right: 19px;
  }
  /*/Section block 2*/
  /*bloc 4*/
  .bg_bloc-3 h2 {
    padding-top: 100px;
  }
  .photo-gall,
  .bg-hover {
    width: 260px;
    height: 200px;
  }
  .bg-hover {
    background: rgba(0, 0, 0, 0.6) url("../img/hover-gall.png") no-repeat -61px 122px;
  }
  .gall-per {
    font-size: 16px;
    bottom: 7px;
    right: 15px;
  }
  .wrap-photo {
    max-width: 318px;
    height: 230px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /*Header*/
  header {
    margin-bottom: 90px;
  }
  header .bloc-head {
    display: none;
  }
  header .logo {
    position: relative;
    margin: 50px auto 0;
    border-radius: 60px;
  }
  header .number-text {
    margin-top: 35px;
    text-align: center;
  }
  .coll {
    text-align: center;
    margin: 0 auto;
    width: 205px;
    display: block;
  }
  .soc-menu {
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  /*Calc*/
  .wrap-calc {
    margin: 80px auto 45px;
  }
  .wrap-expres:nth-child(2) {
    border: none;
  }
  .wrap-expres:nth-child(4) {
    border: none;
  }
  .img-odna-k {
    margin: 50px auto 0;
  }
  .exp {
    right: -220px;
    top: 0;
  }
  .pole-text {
    margin: 437px auto 0;
  }
  .cal-bloc-wrap-tablet {
    border: none;
  }
  /*/Header*/
  /*Section block 2*/
  .bg-bloc2 {
    margin-top: 670px;
  }
  #carousel {
    display: none;
  }
  #carousel2 {
    display: block;
  }
  .slider_1 {
    margin-top: 0;
  }
  .buttons button {
    position: static;
    display: block;
    margin: 50px auto 0;
  }
  .buttons button:last-child {
    margin-right: auto;
  }
  #carousel2 {
    width: 500px;
    height: 540px;
    top: 0;
    left: 0;
  }
  #carousel2 img {
    width: 300px;
    height: 340px;
  }
  .green .point1 {
    color: #308e07;
    top: 360px;
    left: 232px;
  }
  .green .point3 {
    color: #308e07;
    top: 293px;
    left: 194px;
  }
  .green .point2 {
    color: #308e07;
    top: 296px;
    left: 301px;
  }
  .blue .point3 {
    color: #05278a;
    top: 330px;
    left: 258px;
  }
  .blue .point4 {
    color: #05278a;
    top: 281px;
    left: 270px;
  }
  .blue .point1 {
    color: #05278a;
    top: 202px;
    left: 239px;
  }
  .red .point3 {
    color: red;
    top: 327px;
    left: 208px;
  }
  .red .point2 {
    color: red;
    top: 242px;
    left: 327px;
  }
  .red .point4 {
    color: red;
    top: 225px;
    left: 181px;
  }
  .red .point1 {
    color: red;
    top: 333px;
    left: 302px;
  }
  .green3 .point4 {
    color: #308e07;
    top: 303px;
    left: 153px;
  }
  .green3 .point6 {
    color: #308e07;
    top: 345px;
    left: 175px;
  }
  .green3 .point3 {
    color: #308e07;
    top: 312px;
    left: 221px;
  }
  .green3 .point5 {
    color: #308e07;
    top: 366px;
    left: 215px;
  }
  .green3 .point1 {
    color: #308e07;
    top: 317px;
    left: 244px;
  }
  .green3 .point2 {
    color: #308e07;
    top: 290px;
    left: 239px;
  }
  .green3 .point7 {
    color: #308e07;
    top: 340px;
    left: 285px;
  }
  .blue3 .point4 {
    color: #05278a;
    top: 340px;
    left: 229px;
  }
  .blue3 .point2 {
    color: #05278a;
    top: 339px;
    left: 203px;
  }
  .blue3 .point1 {
    color: #05278a;
    top: 232px;
    left: 233px;
  }
  .blue3 .point3 {
    color: #05278a;
    top: 279px;
    left: 207px;
  }
  .blue3 .point5 {
    color: #05278a;
    top: 237px;
    left: 148px;
  }
  .red3 .point2 {
    color: red;
    top: 372px;
    left: 238px;
  }
  .red3 .point1 {
    color: red;
    top: 266px;
    left: 301px;
  }
  .red3 .point3 {
    color: red;
    top: 205px;
    left: 181px;
  }
  .red3 .point4 {
    color: red;
    top: 216px;
    left: 209px;
  }
  .red3 .point5 {
    color: red;
    top: 263px;
    left: 233px;
  }
  .red3 .point6 {
    color: red;
    top: 310px;
    left: 295px;
  }
  .green2 .point3 {
    color: #308e07;
    top: 279px;
    left: 195px;
  }
  .green2 .point2 {
    color: #308e07;
    top: 334px;
    left: 237px;
  }
  .green2 .point5 {
    color: #308e07;
    top: 360px;
    left: 228px;
  }
  .green2 .point4 {
    color: #308e07;
    position: absolute;
    top: 293px;
    left: 315px;
  }
  .green2 .point1 {
    color: #308e07;
    top: 336px;
    left: 306px;
  }
  .blue2 .point1 {
    color: #05278a;
    top: 251px;
    left: 324px;
  }
  .blue2 .point2 {
    color: #05278a;
    top: 260px;
    left: 260px;
  }
  .red2 .point2 {
    color: red;
    top: 155px;
    left: 284px;
  }
  .red2 .point3 {
    color: red;
    top: 229px;
    left: 262px;
  }
  .red2 .point1 {
    color: red;
    top: 347px;
    left: 182px;
  }
  .orang .point2,
  .orang2 .point2,
  .orang3 .point2 {
    color: #ff7e00;
    top: 298px;
    left: 267px;
  }
  .orang .point6,
  .orang2 .point6,
  .orang3 .point6 {
    color: #ff7e00;
    top: 135px;
    left: 191px;
  }
  .orang .point5,
  .orang2 .point5,
  .orang3 .point5 {
    color: #ff7e00;
    top: 229px;
    left: 287px;
  }
  .orang .point1,
  .orang2 .point1,
  .orang3 .point1 {
    color: #ff7e00;
    top: 353px;
    left: 223px;
  }
  .orang .point4,
  .orang2 .point4,
  .orang3 .point4 {
    color: #ff7e00;
    top: 183px;
    left: 317px;
  }
  /*/Section block 2*/
  .bg_bloc-3 {
    background-size: auto;
  }
  .wrap-photo {
    margin: 0 auto 30px;
  }
  .photo-gall,
  .bg-hover {
    width: 289px;
  }
  .bg-hover {
    background: rgba(0, 0, 0, 0.6) url("../img/hover-gall.png") no-repeat -32px 122px;
  }
  .slick-slider {
    max-width: 740px;
  }
  .footer-bg {
    background: #f1e7d5 url("../img/BG-2-dop.png") no-repeat center top;
  }
  .marg {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .soc-foot {
    padding-top: 30px;
    text-align: center;
    padding-left: 0;
  }
  .visa {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
  }
  .appfoo {
    padding-top: 40px;
    display: block;
    margin: 0 auto;
    outline: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /*Header*/
  /*Calk*/
  .cal-bloc-wrap {
    border-bottom: 2px solid #e3e3e3;
    max-height: 444px;
  }
  .bt-express,
  .bt-odna-k {
    margin: 60px auto 25px;
  }
  .pole-text {
    margin: 30px auto 0;
  }
  .wrap-calc {
    box-shadow: none;
  }
  /*/Header*/
  /*bloc 2*/
  .bg-bloc2 {
    margin-top: 1755px;
  }
  /*/bloc 2*/
  /*bloc- 3*/
  .bloc-3 h1 {
    font-size: 3em;
  }
  .slogan-sec2 {
    font-size: 2em;
  }
  .slogan-sec2 {
    margin-bottom: 40px;
  }
  .wrap-text-pre {
    display: block;
    margin: 0 auto 30px;
  }
  /*/bloc-3*/
  .bg_bloc-3 {
    margin-top: 0;
  }
  .bg_bloc-3 h2 {
    font-size: 3.5em;
  }
  .slick-slider {
    width: 300px!important;
  }
  .slick-slide img {
    display: block;
    width: 100%!important;
  }
  h4 {
    margin-top: 180px;
  }
}
@media all and (max-width: 520px) {
  /*slider-1*/
  #carousel2 {
    width: 320px;
    margin: 0 auto;
  }
  #carousel2 img {
    left: 0;
  }
  .green .point2 {
    color: #308e07;
    top: 296px;
    left: 117px;
  }
  .green .point1 {
    color: #308e07;
    top: 360px;
    left: 152px;
  }
  .blue .point4 {
    color: #05278a;
    top: 281px;
    left: 152px;
  }
  .blue .point3 {
    color: #05278a;
    top: 330px;
    left: 184px;
  }
  .red .point2 {
    color: red;
    top: 242px;
    left: 120px;
  }
  .red .point1 {
    color: red;
    top: 333px;
    left: 124px;
  }
  .orang .point1,
  .orang2 .point1,
  .orang3 .point1 {
    color: #ff7e00;
    top: 353px;
    left: 142px;
  }
  .orang .point2,
  .orang2 .point2,
  .orang3 .point2 {
    color: #ff7e00;
    top: 298px;
    left: 183px;
  }
  .orang .point5,
  .orang2 .point5,
  .orang3 .point5 {
    color: #ff7e00;
    top: 229px;
    left: 234px;
  }
  .orang .point3 {
    color: #ff7e00;
    top: 184px;
    left: 101px;
  }
  .orang .point4,
  .orang2 .point4,
  .orang3 .point4 {
    color: #ff7e00;
    top: 183px;
    left: 182px;
  }
  .green3 .point5 {
    color: #308e07;
    top: 356px;
    left: 132px;
  }
  .green3 .point1 {
    color: #308e07;
    top: 317px;
    left: 122px;
  }
  .green3 .point7 {
    color: #308e07;
    top: 340px;
    left: 201px;
  }
  .blue3 .point4 {
    color: #05278a;
    top: 278px;
    left: 143px;
  }
  .red3 .point1 {
    color: red;
    top: 266px;
    left: 109px;
  }
  .red3 .point6 {
    color: red;
    top: 310px;
    left: 66px;
  }
  .red3 .point2 {
    color: red;
    top: 236px;
    left: 93px;
  }
  .orang3 .point3 {
    color: #ff7e00;
    top: 208px;
    left: 96px;
  }
  .green2 .point5 {
    color: #308e07;
    top: 360px;
    left: 164px;
  }
  .green2 .point2 {
    color: #308e07;
    top: 334px;
    left: 146px;
  }
  .green2 .point1 {
    color: #308e07;
    top: 314px;
    left: 211px;
  }
  .green2 .point4 {
    color: #308e07;
    position: absolute;
    top: 293px;
    left: 107px;
  }
  .blue2 .point3 {
    color: #05278a;
    top: 293px;
    left: 150px;
  }
  .blue2 .point1 {
    color: #05278a;
    top: 251px;
    left: 171px;
  }
  .blue2 .point2 {
    color: #05278a;
    top: 237px;
    left: 228px;
  }
  .red2 .point3 {
    color: red;
    top: 229px;
    left: 178px;
  }
  .red2 .point2 {
    color: red;
    top: 176px;
    left: 195px;
  }
  .orang2 .point3 {
    color: #ff7e00;
    top: 190px;
    left: 135px;
  }
  .orang .point6,
  .orang2 .point6,
  .orang3 .point6 {
    color: #ff7e00;
    top: 153px;
    left: 191px;
  }
  h4 {
    font-size: 40px;
  }
  .brands {
    display: block;
    margin: 0 auto;
  }
}
/* Extra Small Devices, Phones */
@media all and (max-width: 480px) {
  /*Header*/
  .soc-menu {
    margin-top: 35px;
  }
  .soc-menu .icon {
    display: none;
  }
  .soc-mob {
    display: block!important;
    margin-top: 35px;
    list-style: none;
    text-align: center;
    padding: 0;
  }
  .soc-mob .icon-mob {
    display: inline-block;
    padding-right: 15px;
  }
  .soc-mob .icon-mob a {
    color: black;
  }
  .soc-mob .icon-mob a:hover {
    color: #9e2b5a;
    transition: .3s;
  }
  /*/Header*/
  /*bloc - 3*/
  .bloc-3 h1 {
    font-size: 2em;
    padding-top: 50px;
  }
  /*/ bloc - 3*/
  .bg_bloc-3 h2 {
    font-size: 2.5em;
  }
  .gall-per {
    bottom: 6px;
    right: 7px;
  }
  h4 {
    margin-bottom: 0;
  }
  h3 {
    font-size: 38px;
    padding-bottom: 40px;
  }
}
@media all and (max-width: 360px) {
  .soc-menu li:nth-child(6) {
    padding-right: 20px;
  }
  .text-menu {
    padding-left: 10px;
  }
  .bg_bloc-3 h2 {
    padding-top: 168px;
  }
  .slider-mob-non {
    display: none;
  }
  .photo-gall,
  .bg-hover {
    width: 250px;
  }
}
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
