@import "fonts";
@import "style";
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px){
  /*Header*/
  header .bloc-head{width: 31%;}
  /*/Header*/
}
@media only screen and (max-width : 1560px){
  .bg-bloc_1{
    background-size: auto;
    background: url("../img/BG-1.png") no-repeat center top;
  }
  /*Header*/
  header .bloc-head{width: 25%;}
  /*/Header*/
}
@media only screen and (max-width : 1380px){
  /*Header*/
  header{margin-bottom: 300px;}
  .wrap-calc{margin: 330px auto 45px;}
  /*/Header*/
  /*bloc-2*/
  .bg-bloc2{
    margin-top: 300px;
    background-size: auto;
    background: url("../img/BG-2.jpg") no-repeat center top;
  }
  .bg_bloc-3{
    background: #f5f6f7 url("../img/BG-22.jpg") no-repeat center top;
    margin-top: 0;
    background-size: auto;
  }
  h4{
    margin-bottom: 70px;
  }
  /*/bloc 2*/
}
@media only screen and (max-width : 1200px) {
  /*Header*/
  .soc-menu{
    padding: 0;
  }
  .soc-menu li{
    padding-right: 5px;
  }
  /*/Header*/
  /*Section block 2*/
  .buttons button{
    margin-right: 19px;
  }
  /*/Section block 2*/
  /*bloc 4*/
  .bg_bloc-3 h2{
    padding-top: 100px;
  }
  .photo-gall,
  .bg-hover{
    width: 260px;
    height: 200px;
  }
  .bg-hover{
    background: rgba(0, 0, 0, 0.6) url("../img/hover-gall.png") no-repeat -61px 122px;
  }
  .gall-per{
    font-size: 16px;
    bottom: 7px;
    right: 15px;
  }
  .wrap-photo{
    max-width: 318px;
    height: 230px;
  }
  // /bloc4
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  /*Header*/
  header {
    margin-bottom: 90px;
  }
  header .bloc-head{display: none;}
  header .logo{
    position: relative;
    margin: 50px auto 0;
    border-radius:60px;
  }
  header .number-text{
    margin-top: 35px;
    text-align: center;
  }
  .coll{
    text-align: center;
    margin: 0 auto;
    width: 205px;
    display: block;
  }
  .soc-menu{
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  /*Calc*/
  .wrap-calc{margin: 80px auto 45px;}
  .wrap-expres:nth-child(2){border: none;}
  .wrap-expres:nth-child(4){border: none;}
  .img-odna-k{margin: 50px auto 0;}
  .exp{right: -220px;top: 0;}
  .pole-text{margin: 437px auto 0;}
  .cal-bloc-wrap-tablet{border:none;}
  /*/Header*/
  /*Section block 2*/
  .bg-bloc2 {
    margin-top: 670px;
  }
  #carousel{display: none;}
  #carousel2{display: block;}
  .slider_1{
    margin-top: 0;
  }
.buttons button{
  position: static;
  display: block;
  margin: 50px auto 0;
  &:last-child{margin-right: auto;}
}
  #carousel2{
    width: 500px;
    height: 540px;
    top: 0;
    left:0;
  }
  #carousel2 img{
    width: 300px;
    height: 340px;
  }
  .green .point1 {
    color: #308e07;
    top: 360px;
    left: 232px;
  }
  .green .point3 {
    color: #308e07;
    top: 293px;
    left: 194px;
  }
  .green .point2 {
    color: #308e07;
    top: 296px;
    left: 301px;
  }
  .blue .point3 {
    color: #05278a;
    top: 330px;
    left: 258px;
  }
  .blue .point4 {
    color: #05278a;
    top: 281px;
    left: 270px;
  }
  .blue .point1 {
    color: #05278a;
    top: 202px;
    left: 239px;
  }
  .red .point3 {
    color: red;
    top: 327px;
    left: 208px;
  }
  .red .point2 {
    color: red;
    top: 242px;
    left: 327px;
  }
  .red .point4 {
    color: red;
    top: 225px;
    left: 181px;
  }
  .red .point1 {
    color: red;
    top: 333px;
    left: 302px;
  }
  .green3 .point4 {
    color: #308e07;
    top: 303px;
    left: 153px;
  }
  .green3 .point6 {
    color: #308e07;
    top: 345px;
    left: 175px;
  }
  .green3 .point3 {
    color: #308e07;
    top: 312px;
    left: 221px;
  }
  .green3 .point5 {
    color: #308e07;
    top: 366px;
    left: 215px;
  }
  .green3 .point1 {
    color: #308e07;
    top: 317px;
    left: 244px;
  }
  .green3 .point2 {
    color: #308e07;
    top: 290px;
    left: 239px;
  }
  .green3 .point7 {
    color: #308e07;
    top: 340px;
    left: 285px;
  }
  .blue3 .point4 {
    color: #05278a;
    top: 340px;
    left: 229px;
  }
  .blue3 .point2 {
    color: #05278a;
    top: 339px;
    left: 203px;
  }
  .blue3 .point1 {
    color: #05278a;
    top: 232px;
    left: 233px;
  }
  .blue3 .point3 {
    color: #05278a;
    top: 279px;
    left: 207px;
  }
  .blue3 .point5 {
    color: #05278a;
    top: 237px;
    left: 148px;
  }
  .red3 .point2 {
    color: red;
    top: 372px;
    left: 238px;
  }
  .red3 .point1 {
    color: red;
    top: 266px;
    left: 301px;
  }
  .red3 .point3 {
    color: red;
    top: 205px;
    left: 181px;
  }
  .red3 .point4 {
    color: red;
    top: 216px;
    left: 209px;
  }
  .red3 .point5 {
    color: red;
    top: 263px;
    left: 233px;
  }
  .red3 .point6 {
    color: red;
    top: 310px;
    left: 295px;
  }
  .green2 .point3 {
    color: #308e07;
    top: 279px;
    left: 195px;
  }
  .green2 .point2 {
    color: #308e07;
    top: 334px;
    left: 237px;
  }
  .green2 .point5 {
    color: #308e07;
    top: 360px;
    left: 228px;
  }
  .green2 .point4 {
    color: #308e07;
    position: absolute;
    top: 293px;
    left: 315px;
  }
  .green2 .point1 {
    color: #308e07;
    top: 336px;
    left: 306px;
  }
  .blue2 .point1 {
    color: #05278a;
    top: 251px;
    left: 324px;
  }
  .blue2 .point2 {
    color: #05278a;
    top: 260px;
    left: 260px;
  }
  .red2 .point2 {
    color: red;
    top: 155px;
    left: 284px;
  }
  .red2 .point3 {
    color: red;
    top: 229px;
    left: 262px;
  }
  .red2 .point1 {
    color: red;
    top: 347px;
    left: 182px;
  }
  .orang .point2,
  .orang2 .point2,
  .orang3 .point2{
    color: #ff7e00;
    top: 298px;
    left: 267px;
  }
  .orang .point6,
  .orang2 .point6,
  .orang3 .point6{
    color: #ff7e00;
    top: 135px;
    left: 191px;
  }
  .orang .point5,
  .orang2 .point5,
  .orang3 .point5 {
    color: #ff7e00;
    top: 229px;
    left: 287px;
  }
  .orang .point1,
  .orang2 .point1,
  .orang3 .point1{
    color: #ff7e00;
    top: 353px;
    left: 223px;
  }
  .orang .point4,
  .orang2 .point4,
  .orang3 .point4{
    color: #ff7e00;
    top: 183px;
    left: 317px;
  }
  /*/Section block 2*/
  .bg_bloc-3{background-size: auto;}
  //bloc 4
  .wrap-photo{
    margin: 0 auto 30px;
  }
  .photo-gall, .bg-hover{
    width: 289px;
  }
  .bg-hover {
    background: rgba(0, 0, 0, 0.6) url("../img/hover-gall.png") no-repeat -32px 122px;
  }
  // /bloc4
  //slik slider
  .slick-slider{
    max-width: 740px;
  }
  //footer
  .footer-bg{
    background: #f1e7d5 url("../img/BG-2-dop.png") no-repeat center top;
  }
  .marg{
    display: block;
    margin:  0 auto;
    text-align: center;
  }
  .soc-foot{
    padding-top: 30px;
    text-align: center;
    padding-left: 0;
  }
  .visa {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
  }
  .appfoo {
    padding-top: 40px;
    display: block;
    margin: 0 auto;
    outline: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
/*Header*/
/*Calk*/
  .cal-bloc-wrap{
    border-bottom: 2px solid #e3e3e3;
    max-height: 444px;
  }
  .bt-express, .bt-odna-k{margin: 60px auto 25px;}
  .pole-text{margin: 30px auto 0;}
  .wrap-calc{box-shadow: none}
/*/Header*/
  /*bloc 2*/
  .bg-bloc2 {
    margin-top: 1755px;
  }
  /*/bloc 2*/
/*bloc- 3*/
  .bloc-3 h1{font-size: 3em;}
  .slogan-sec2{font-size: 2em;}
  .slogan-sec2{
    margin-bottom: 40px;
  }
  .wrap-text-pre{
    display: block;
    margin: 0 auto 30px;
  }
  /*/bloc-3*/
  //bloc4
  .bg_bloc-3{
    margin-top: 0;
  }
  .bg_bloc-3 h2{
    font-size: 3.5em;
  }
  // /bloc 4
  // slik slider
  .slick-slider {
    width: 300px!important;
  }
  .slick-slide img {
    display: block;
    width: 100%!important;
  }
  h4{
    margin-top: 180px;
  }

}
@media all and (max-width : 520px){
  /*slider-1*/
  #carousel2{
    width: 320px;
    margin: 0 auto;
  }
  #carousel2 img{
    left: 0;
  }
  .green .point2 {
    color: #308e07;
    top: 296px;
    left: 117px;
  }
  .green .point1 {
    color: #308e07;
    top: 360px;
    left: 152px;
  }
  .blue .point4 {
    color: #05278a;
    top: 281px;
    left: 152px;
  }
  .blue .point3 {
    color: #05278a;
    top: 330px;
    left: 184px;
  }
  .red .point2 {
    color: red;
    top: 242px;
    left: 120px;
  }
  .red .point1 {
    color: red;
    top: 333px;
    left: 124px;
  }
  .orang .point1, .orang2 .point1, .orang3 .point1 {
    color: #ff7e00;
    top: 353px;
    left: 142px;
  }
  .orang .point2, .orang2 .point2, .orang3 .point2 {
    color: #ff7e00;
    top: 298px;
    left: 183px;
  }
  .orang .point5, .orang2 .point5, .orang3 .point5 {
    color: #ff7e00;
    top: 229px;
    left: 234px;
  }
  .orang .point3 {
    color: #ff7e00;
    top: 184px;
    left: 101px;
  }
  .orang .point4, .orang2 .point4, .orang3 .point4 {
    color: #ff7e00;
    top: 183px;
    left: 182px;
  }
  .green3 .point5 {
    color: #308e07;
    top: 356px;
    left: 132px;
  }
  .green3 .point1 {
    color: #308e07;
    top: 317px;
    left: 122px;
  }
  .green3 .point7 {
    color: #308e07;
    top: 340px;
    left: 201px;
  }
  .blue3 .point4 {
    color: #05278a;
    top: 278px;
    left: 143px;
  }
  .red3 .point1 {
    color: red;
    top: 266px;
    left: 109px;
  }
  .red3 .point6 {
    color: red;
    top: 310px;
    left: 66px;
  }
  .red3 .point2 {
    color: red;
    top: 236px;
    left: 93px;
  }
  .orang3 .point3 {
    color: #ff7e00;
    top: 208px;
    left: 96px;
  }
  .green2 .point5 {
    color: #308e07;
    top: 360px;
    left: 164px;
  }
  .green2 .point2 {
    color: #308e07;
    top: 334px;
    left: 146px;
  }
  .green2 .point1 {
    color: #308e07;
    top: 314px;
    left: 211px;
  }
  .green2 .point4 {
    color: #308e07;
    position: absolute;
    top: 293px;
    left: 107px;
  }
  .blue2 .point3 {
    color: #05278a;
    top: 293px;
    left: 150px;
  }
  .blue2 .point1 {
    color: #05278a;
    top: 251px;
    left: 171px;
  }
  .blue2 .point2 {
    color: #05278a;
    top: 237px;
    left: 228px;
  }
  .red2 .point3 {
    color: red;
    top: 229px;
    left: 178px;
  }
  .red2 .point2 {
    color: red;
    top: 176px;
    left: 195px;
  }
  .orang2 .point3 {
    color: #ff7e00;
    top: 190px;
    left: 135px;
  }
  .orang .point6, .orang2 .point6, .orang3 .point6 {
    color: #ff7e00;
    top: 153px;
    left: 191px;
  }
  h4{
    font-size: 40px;
  }
  .brands{
    display: block;
    margin:0 auto;
  }
}
/* Extra Small Devices, Phones */
@media all and (max-width : 480px) {
  /*Header*/
  .soc-menu{
    margin-top: 35px;
    .icon{display: none;}
  }
  .soc-mob{
   display: block!important;
    margin-top: 35px;
    list-style: none;
    text-align: center;
    padding: 0;
    .icon-mob{
      display: inline-block;
      padding-right: 15px;
      a{
        color:black;
        &:hover{
          color: @text-color-slogan;
          transition: .3s;
        }
      }
    }
  }
  /*/Header*/
  /*bloc - 3*/
  .bloc-3 h1 {
    font-size: 2em;
    padding-top: 50px;
  }
  /*/ bloc - 3*/
  // bloc 4
  .bg_bloc-3 h2 {
    font-size: 2.5em;
  }

  .gall-per{
    bottom: 6px;
    right: 7px;
  }
  h4 {
    margin-bottom: 0;
  }
  // end bloc 4
  //slik
  h3{
    font-size: 38px;
    padding-bottom: 40px;
  }
}
@media all and (max-width : 360px){
  .soc-menu li:nth-child(6) {
    padding-right: 20px;
  }
  .text-menu {
    padding-left: 10px;
  }
  .bg_bloc-3 h2 {
    padding-top: 168px;
  }
  .slider-mob-non{display: none;}
  //bloc 4

  .photo-gall, .bg-hover {
    width: 250px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}